body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

/* Default Layout */

.ant-layout-header {
  background: rgba(249, 250, 251, 0.72) !important;
  height: 64px !important;
}

.logo {
  height: 64px;
  display: flex;
  padding: 35px 15px 75px;
  text-align: center;
}

.logo h1 {
  color: black !important;
  font-size: 30px;
  font-weight: bold !important;
}

.logo img {
  width: 40px;
  height: 40px;
}

.ant-layout-sider {
  height: 100vh !important;
  background: #fafafb !important;
  border-right: 1px dashed rgb(202, 202, 202);
}

.ant-menu {
  background: #fafafb !important;
  border-right: none !important;
}

.ant-menu-item {
  background: #fafafb !important;
  padding-left: 30px !important;
  color: #5e60ce !important;
}

.anticon {
  font-size: 20px !important;
}

.ant-menu-item a {
  font-size: 15px !important;
  font-weight: bold !important;
}

.ant-menu-item-selected {
  background: #dfe0f7 !important;
  border-right: 4px solid #5e60ce !important;
}

.ant-menu-item-selected a {
  color: #5e60ce !important;
}

.ant-menu-item-active {
  background: #edeff1 !important;
}

.ant-menu-item-active a {
  color: #5e60ce !important;
}

.ant-layout-content {
  background: rgba(249, 250, 251, 0.72) !important;
  padding: 35px !important;
}

.ant-btn {
  color: white !important;
  border-radius: 5px !important;
  border: none !important;
  font-weight: bold !important;
  background-color: #5e60ce !important;
}

.ant-btn:hover {
  color: black !important;
}

.ant-layout-sider-zero-width-trigger {
  background: #5e60ce !important;
}

/* Loader */

.sweet-loading {
  position: fixed !important;
  top: 50% !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 9999;
}

.flex {
  display: flex !important;
  align-items: center !important;
}

p {
  font-weight: 500 !important;
  margin: 2px !important;
  padding: 2px !important;
  font-size: 16px !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: white !important;
}

.job-div {
  border-radius: 15px !important;
}

/* Login & Registration */

.authButton {
  background: #5e60ce;
  border-radius: 8px;
  padding: 10px;
  border: none;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
  display: block;
  width: 100px;
  color: #fff;
  font-weight: bold;
}

.authButton:hover {
  color: black !important;
  background-color: #dfe0f7;
}

.login {
  padding: 68px;
  background: linear-gradient(
    90deg,
    rgba(94, 96, 206, 1) 0%,
    rgba(223, 224, 247, 1) 50%,
    rgba(94, 96, 206, 1) 100%
  );
}

.authForm {
  border-radius: 0px 10px 10px 0px;
}

.authPic {
  background-color: #dfe0f7 !important;
  border-radius: 10px 0px 0px 10px;
}

.authPic h3 {
  font-weight: bold;
  font-size: 40px;
}

.authLogo {
  width: 60px;
  height: 60px;
}

.ant-form-item {
  margin-bottom: 30px !important;
}

.register {
  background: linear-gradient(
    90deg,
    rgba(94, 96, 206, 1) 0%,
    rgba(223, 224, 247, 1) 50%,
    rgba(94, 96, 206, 1) 100%
  );
  padding: 68px;
}

/* Profile Page of Student */
.basicProfile {
  display: block;
  margin-left: 40%;
  margin-right: 60%;
}

.avatar {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 8px double black;
}

.ant-steps {
  width: 80% !important;
  margin-left: 80px !important;
}

.ant-steps-item-custom.ant-steps-item-process
  .ant-steps-item-icon
  .ant-steps-icon {
  color: #5e60ce !important;
}

.ant-steps-item-finish .ant-steps-item-icon .ant-steps-icon {
  color: #5e60ce !important;
}

.ant-steps-item-title:after {
  background-color: #5e60ce !important;
}

.steps-content {
  min-height: 200px;
  width: 80%;
  margin-top: 16px;
  margin-left: 80px;
  padding: 1em;
  text-align: left;
  /* background-color: #dfe0f7; */
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
  float: right;
  margin-right: 170px;
}

.ant-message{
  z-index: 9999 !important;
}
