body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.trigger {
  padding: 0px 24 px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  color: white;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider {
  height: 100vh !important;
}

.ant-layout-header span svg {
  width: 25px !important;
  height: 22px !important;
  margin-left: 10px !important;
}

.logo h1 {
  color: white !important;
  font-size: 30px;
}

.ant-layout-content {
  margin: 0px !important;
  padding: 10px !important;
}

.sweet-loading {
  position: fixed !important;
  top: 30% !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 9999;
}

.flex {
  display: flex !important;
  align-items: center !important;
}

p {
  font-weight: 500 !important;
  margin: 2px !important;
  padding: 2px !important;
  font-size: 16px !important;
}
.bs {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.job-div {
  border-radius: 15px !important;
}

button {
  background-color: #001529 !important;
  color: white !important;
  border-radius: 5px !important;
}

.login {
  padding-top: 100px !important;
}

.register {
  padding-top: 100px !important;
}
