body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.trigger {
  padding: 0px 24 px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 80px;
  background: rgba(249, 250, 251, 0.72) !important;
}

.logo h1 {
  color: black !important;
  font-size: 30px;
  font-weight: bold !important;
  text-align: center !important;
  padding: 50px !important;
}

.ant-layout-header {
  background: rgba(249, 250, 251, 0.72) !important;
  height: 80px !important;
}

.ant-layout-sider {
  height: 100vh !important;
  background: #f9fafb !important;
  border-right: 0.5px dashed rgb(230, 230, 230);
  min-width: 250px !important;
}

.ant-menu {
  background: #f9fafb !important;
  border-right: none !important;
  padding-top: 50px !important;
}

.ant-menu-item {
  background: #f9fafb !important;
  color: #00ab55 !important;
  padding-left: 50px !important;
}

.anticon {
  font-size: 20px !important;
}

.ant-menu-item a {
  font-size: 15px !important;
  font-weight: bold !important;
}

.ant-menu-item-selected {
  background: #e5f3ee !important;
  border-right: 4px solid #00ab55 !important;
}

.ant-menu-item-selected a {
  color: #00ab55 !important;
}

.ant-menu-item-active {
  background: #edeff1 !important;
}

.ant-menu-item-active a {
  color: #00ab55 !important;
}

.ant-menu-item-selected a:hover {
  color: #00ab55 !important;
}

.ant-layout-content {
  background: rgba(249, 250, 251, 0.72) !important;
  padding: 35px !important;
}

.sweet-loading {
  position: fixed !important;
  top: 30% !important;
  height: 100% !important;
  width: 100% !important;
  z-index: 9999;
}

.flex {
  display: flex !important;
  align-items: center !important;
}

p {
  font-weight: 500 !important;
  margin: 2px !important;
  padding: 2px !important;
  font-size: 16px !important;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: white !important;
}

.job-div {
  border-radius: 15px !important;
}

button {
  background-color: #00ab55 !important;
  color: black !important;
  border-radius: 5px !important;
  border: none !important;
}

button:hover {
  background-color: #e5f3ee !important;
  border: 2px solid #00ab55 !important;
}

.login {
  padding-top: 100px !important;
}

.register {
  padding-top: 100px !important;
}
